.curveEditor {
  position: relative;
  padding: var(--spacing-x-large);
  border-radius: var(--border-radius-large);
  background-color: var(--body-background-color-soft);

  svg {
    overflow: visible;
    display: block;
    fill: none;
    width: 100%;
    height: 100%;
    stroke-linecap: round;
    stroke-width: 0.125rem;
    stroke: var(--body-color-soft);
  }

  &__grid {
    stroke-width: 0.0625rem;
    opacity: 0.25;
  }

  &__curve {
    stroke-width: 0.25rem;
    stroke: currentColor;
  }

  &__interaction {
    position: absolute;
    user-select: none;
    touch-action: none;
    inset: var(--spacing-x-large);
  }

  &__handle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background-color: var(--body-background-color-soft);
    border: 0.125rem solid var(--body-color-soft);
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}
