@use 'colors' as *;

:root {
  --body-color: #{$gray-100};
  --body-color-soft: #{$gray-50};
  --body-background-color: #{$white};
  --body-background-color-soft: #{$gray-10};
  --body-box-shadow-color: #{rgba($gray-50, 0.25)};

  --button-color: #{$white};
  --button-background-color: #{$gray-100};
  --button-active-background-color: #{$gray-80};

  --slider-background-color: #{$gray-20};
  --switch-background-color: #{$gray-30};
  --switch-handle-background-color: #{$white};
  --switch-handle-box-shadow-color: #{rgba($gray-50, 0.5)};

  --modal-background-color: #{rgba($gray-100, 0.875)};
  --modal-content-background-color: #{$white};

  --color-swatch-item-color: #{$gray-100};
  --color-swatch-item-dark-color: #{$white};
}

[data-theme='dark'] {
  --body-color: #{$white};
  --body-color-soft: #{$gray-60};
  --body-background-color: #{$gray-100};
  --body-background-color-soft: #{$gray-90};
  --body-box-shadow-color: transparent;

  --button-color: #{$gray-100};
  --button-background-color: #{$white};
  --button-active-background-color: #{$gray-30};

  --slider-background-color: #{$gray-80};
  --switch-background-color: #{$gray-80};
  --switch-handle-background-color: #{$gray-100};
  --switch-handle-box-shadow-color: transparent;

  --modal-background-color: #{rgba($gray-90, 0.875)};
  --modal-content-background-color: #{$gray-100};

  --color-swatch-item-color: #{$gray-100};
  --color-swatch-item-dark-color: #{$white};
}
