.curveInput {
  display: flex;
  height: 1.125rem;
  align-items: center;
  gap: var(--spacing-xx-small);

  &__input {
    width: 2.5rem;
    text-align: center;
    line-height: var(--line-height-x-large);
    border-radius: var(--border-radius-small);

    &:focus {
      background-color: var(--input-focus-background-color-soft);
    }
  }
}
