.colorRangeInput {
  display: flex;
  align-items: center;

  &__label {
    color: var(--body-color-soft);
    margin-right: var(--spacing-small);

    @media (max-width: 1680px) {
      display: none;
    }
  }

  &__input {
    width: 4.5rem;
    text-align: center;
    line-height: var(--line-height-x-large);
    border-radius: var(--border-radius-small);

    &:focus {
      background-color: var(--input-focus-background-color);
    }

    &:last-of-type {
      margin-right: calc(0rem - var(--spacing-xx-small));
    }
  }

  &__invertButton {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xx-small);
    transition: transform var(--transition-duration-fast);

    &:active {
      transition: none;
      transform: scale(1.25);
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}
