.colorSwatch {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-x-large) var(--spacing-x-large);
  }

  &__name {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }

  &__body {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: var(--border-radius-x-large);
  }

  &__item {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-x-large);
    font-size: var(--font-size-medium);
    color: var(--color-swatch-item-color);

    &--dark {
      color: var(--color-swatch-item-dark-color);
    }
  }
}
