.modal {
  overflow: hidden;
  position: fixed;
  display: flex;
  z-index: 100;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-background-color);

  &__content {
    width: 40rem;
    box-sizing: border-box;
    padding: var(--spacing-x-large);
    border-radius: var(--border-radius-x-large);
    background-color: var(--modal-content-background-color);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }

  &__body {
    margin-top: var(--spacing-x-large);
  }

  &__closeButton {
    display: flex;
    cursor: pointer;
    user-select: none;
    color: var(--body-color-soft);
    padding: var(--spacing-xx-small);
    border-radius: var(--border-radius-medium);

    &:hover {
      background-color: var(--body-background-color-soft);
    }

    svg {
      width: 1.375rem;
      height: 1.375rem;
      stroke-width: 0.125rem;
    }
  }
}
