.colorAnalysis {
  position: absolute;
  display: flex;
  left: 50%;
  gap: var(--spacing-large);
  transform: translateX(-50%);
  font-size: var(--font-size-normal);

  &__item {
    display: flex;
    gap: var(--spacing-x-small);
  }

  &__value {
    width: 4ch;
  }
}
