.colorAnalysis {
  position: absolute;
  display: flex;
  left: 50%;
  gap: var(--spacing-large);
  transform: translateX(-50%);
  font-size: var(--font-size-normal);

  &__item {
    display: flex;
    gap: var(--spacing-x-small);

    &:last-child {
      @media (max-width: 1680px) {
        display: none;
      }
    }
  }

  &__label span {
    @media (max-width: 1440px) {
      display: none;
    }
  }

  &__value {
    width: 4ch;
  }
}
