.colorMenu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: var(--spacing-x-large) var(--spacing-x-large) 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-medium);
  }

  &__label {
    color: var(--body-color-soft);
  }

  &__addButton {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    font-weight: var(--font-weight-bold);

    svg {
      width: 1.125rem;
      height: 1.125rem;
      stroke-width: 0.1875rem;
      margin-left: var(--spacing-xx-small);
    }
  }

  &__body {
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__footer {
    margin-top: var(--spacing-medium);
  }
}
